.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}
[data-theme="dark"] .gutter-box {
  background: #028ac8;
}

.ProductList-header {
  display: flexbox;
  flex-direction: row;
  padding-bottom: 30px;
}

.ant-list-item.product-card .ant-card-cover {
  align-content: center;
}
.ant-list-item.product-card .ant-card-cover img {
  width: 250px;
  height: 250px;
}

.add-sign {
  font-size: 30px;
}

.add-new {
  float: right;
}

.page-title {
  float: left;
}
