.header-container {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ant-badge:not(.ant-badge-not-a-wrapper) {
  margin-right: 20px;
}
.ant-badge.ant-badge-rtl:not(.ant-badge-not-a-wrapper) {
  margin-right: 0;
  margin-left: 20px;
}

.site-title {
  font-size: 30px;
}

.sign-button {
  font-size: 20px;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: white;
  align-items: center;
}

.s-box {
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 30px;
}

.s-input {
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 10px;
  width: 500px;
  max-height: 50px;
}

@media (max-width: 1200px) {
  .site-title,
  .s-box,
  .shopping-cart {
    display: none;
  }
}
